@use '../../base';

.joco-ship {
  width: 75px;
  // height: 36px;
  aspect-ratio: 40/36;
  background-size: 100% 100%;
  box-shadow: none !important;

  .joco-ship-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(yellow, 0.5);
    top: 70%;
    height: 30%;
    left: 5%;
    width: 90%;
    text-align: center;
    font-size: 50%;
    color: black;
  }

  .joco-ship-fatigued {
    position: absolute;
    font-size: 23%;
    top: 60%;
    height: 10%;
    width: 10%;
    left: 21%;
  }
}

.joco-ship {
  &[data-side='full'] {
    background-image: url('img/ship_player.png');
  }

  &[data-side='fatigued'] {
    background-image: url('img/ship_player_fatigued.png');
  }

  &[data-side='ExtraShip'] {
    background-image: url('img/ship_extra.png');
    .joco-ship-name {
      color: white;
    }
  }

  &[data-side='CompanyShip'] {
    background-image: url('img/ship_company.png');
    .joco-ship-name {
      color: white;
    }
  }
}

.joco-ship-container.selectable {
  .joco-ship {
    cursor: pointer;
    z-index: 1;
    outline: 4px solid base.$selectable-color !important;
  }
}

.joco-ship-container.selectable:hover,
.joco-ship-container.selected {
  .joco-ship {
    cursor: pointer;
    z-index: 1;
    outline: 4px solid base.$selected-color !important;
  }
}
