@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * JohnCompany implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
#joco-bar {
  background-color: transparent;
  height: 52px;
  margin: 15px auto auto;
  position: relative;
  width: fit-content;
  z-index: 5;
  display: flex;
  flex-direction: row;
  gap: 4px;
  pointer-events: auto;
}

.joco-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 48px;
  background-color: rgba(255, 250, 250, 0.4);
  font-size: 16px;
  vertical-align: middle;
  padding: 0px 8px;
}

.joco-bar-item:hover {
  background-color: rgb(255, 250, 250);
  cursor: pointer;
}

.joco-bar-item-active {
  outline: 2px solid black;
}

#joco-board {
  --boardScale: var(--leftColumnScale);
  --tokenScale: var(--leftColumnScale);
  position: relative;
  background-image: url("img/board.jpg");
  background-size: 100% 100%;
  height: calc(var(--leftColumnScale) * 759px);
  min-height: calc(var(--leftColumnScale) * 759px);
  width: calc(var(--leftColumnScale) * 1500px);
}

#joco-select-boxes,
#joco-regiments,
#joco-power-tokens,
#joco_towers,
#joco-family-members,
#joco-orders,
#joco_ships,
#joco_treasuries {
  position: absolute;
  top: 0;
  left: 0;
}

.joco-order {
  position: absolute;
  border-radius: 50%;
  height: calc(var(--leftColumnScale) * 46px);
  width: calc(var(--leftColumnScale) * 39.5px);
}

.joco-order[data-status=closed] {
  background-color: black;
}

.joco-order[data-status=filled] {
  background-color: lightgray;
}

.joco-order.selected {
  cursor: pointer;
  outline: calc(var(--boardScale) * 4px) solid blue;
}

.joco_pawn {
  position: absolute;
  background-size: 100% 100%;
  width: calc(var(--boardScale) * 20px);
  height: calc(var(--boardScale) * 37px);
  top: calc(var(--boardScale) * 63px);
  left: calc(var(--boardScale) * 370px);
}

.joco_pawn[data-color=red] {
  background-image: url("img/pawn_red.svg");
}

.joco_pawn[data-color=black] {
  background-image: url("img/pawn_black.svg");
}

.joco_pawn[data-color=silver] {
  background-image: url("img/pawn_silver.svg");
}

.joco-regiment {
  box-sizing: border-box;
  position: absolute;
  background-image: url("img/regiment.jpg");
  background-size: 100% 100%;
  width: calc(var(--tokenScale) * 35px);
  height: calc(var(--tokenScale) * 35px);
  border: calc(var(--tokenScale) * 1px) solid black;
  border-radius: 12%;
}

.joco_tower {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  align-items: center;
}

.joco_tower_level {
  background-image: url("img/tower_level.png");
  width: calc(var(--boardScale) * 45px);
  height: calc(var(--boardScale) * 41px);
  background-size: 100% 100%;
  margin-top: calc(var(--boardScale) * -27px);
}
.joco_tower_level:nth-child(2) {
  z-index: 5;
}
.joco_tower_level:nth-child(3) {
  z-index: 4;
}
.joco_tower_level:nth-child(4) {
  z-index: 3;
}
.joco_tower_level:nth-child(5) {
  z-index: 2;
}
.joco_tower_level:nth-child(6) {
  z-index: 1;
}
.joco_tower_level.hidden {
  display: none;
}

.joco-tower-top {
  background-image: url("img/tower_top.png");
  width: calc(var(--boardScale) * 59px);
  height: calc(var(--boardScale) * 40px);
  background-size: 100% 100%;
  z-index: 6;
}

.joco-tower-flag {
  position: absolute;
  box-sizing: border-box;
  border: calc(var(--boardScale) * 2px) solid black;
  width: calc(var(--boardScale) * 15px);
  height: calc(var(--boardScale) * 20px);
  top: calc(var(--boardScale) * -7px);
  left: calc(var(--boardScale) * 23px);
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.joco-tower-top[data-empire=false] .joco-tower-flag {
  display: none;
}

.joco-tower-top[data-capital=false] .joco-tower-flag span {
  display: none;
}

.joco-tower-top[data-empire-id=Bengal] .joco-tower-flag {
  background-color: #b47860;
}

.joco-tower-top[data-empire-id=Bombay] .joco-tower-flag {
  background-color: #a1b4ab;
}

.joco-tower-top[data-empire-id=Delhi] .joco-tower-flag {
  background-color: #8e867c;
}

.joco-tower-top[data-empire-id=Hyderabad] .joco-tower-flag {
  background-color: #a4a576;
}

.joco-tower-top[data-empire-id=Madras] .joco-tower-flag {
  background-color: #e9ca92;
}

.joco-tower-top[data-empire-id=Maratha] .joco-tower-flag {
  background-color: #cd9f6b;
}

.joco-tower-top[data-empire-id=Mysore] .joco-tower-flag {
  background-color: #c9bda5;
}

.joco-tower-top[data-empire-id=Punjab] .joco-tower-flag {
  background-color: #8a8e99;
}

.joco-power-token {
  position: absolute;
  box-sizing: border-box;
  background-image: url("img/power_tokens.jpg");
  width: calc(var(--tokenScale) * 38px);
  height: calc(var(--tokenScale) * 30px);
  background-size: 500% 100%;
  border-radius: 12%;
  border: calc(var(--tokenScale) * 1px) solid black;
  --iconScale: calc(var(--tokenScale) * 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.joco-power-token[data-type=social] {
  background-position-x: 0%;
}

.joco-power-token[data-type=companyShare] {
  background-position-x: 25%;
}

.joco-power-token[data-type=manufacturing] {
  background-position-x: 75%;
}

.joco-power-token[data-type=shipping] {
  background-position-x: 50%;
}

.joco-power-token[data-type=shareVictoryPoints] {
  background-position-x: 100%;
}

.joco-select-box {
  position: absolute;
  display: none;
}

.joco-select-box.joco-select-army {
  width: calc(var(--tokenScale) * 160px);
  height: calc(var(--tokenScale) * 110px);
  border-radius: calc(var(--boardScale) * 6px);
}

.joco-select-box.joco-select-sea-zone {
  width: calc(var(--tokenScale) * 55px);
  height: calc(var(--tokenScale) * 55px);
  border-radius: calc(var(--boardScale) * 6px);
}

.joco-select-box.joco-select-writer {
  width: calc(var(--tokenScale) * 168px);
  height: calc(var(--tokenScale) * 72px);
  border-radius: calc(var(--boardScale) * 6px);
}

.joco-select-box[data-region=Bombay] {
  top: calc(var(--boardScale) * 600px);
  left: calc(var(--boardScale) * 830px);
}

.joco-select-box[data-region=Madras] {
  top: calc(var(--boardScale) * 600px);
  left: calc(var(--boardScale) * 1019px);
}

.joco-select-box[data-region=Bengal] {
  top: calc(var(--boardScale) * 600px);
  left: calc(var(--boardScale) * 1209px);
}

.joco-select-box.joco-seek-share {
  border-radius: 50%;
  height: calc(var(--leftColumnScale) * 43px);
  width: calc(var(--leftColumnScale) * 36px);
}

.joco-select-box[data-position=StockExchange_2] {
  top: calc(var(--boardScale) * 459px);
  left: calc(var(--boardScale) * 251px);
}

.joco-select-box[data-position=StockExchange_3_Left] {
  top: calc(var(--boardScale) * 415px);
  left: calc(var(--boardScale) * 276.5px);
}

.joco-select-box[data-position=StockExchange_3_Right] {
  top: calc(var(--boardScale) * 459px);
  left: calc(var(--boardScale) * 302.5px);
}

.joco-select-box[data-position=StockExchange_4] {
  top: calc(var(--boardScale) * 415px);
  left: calc(var(--boardScale) * 328.5px);
}

.joco-select-box[data-position=StockExchange_5] {
  top: calc(var(--boardScale) * 459px);
  left: calc(var(--boardScale) * 355px);
}

.joco-select-box.joco-company-debt {
  width: calc(var(--boardScale) * 29px);
  height: calc(var(--boardScale) * 29px);
  border-radius: 50%;
}

.joco-regiment.selectable,
.joco-order.selectable,
.joco-select-box.selectable {
  cursor: pointer;
  display: block;
  outline: calc(var(--boardScale) * 4px) solid yellow !important;
}

.joco-regiment.selected,
.joco-regiment.selectable:hover,
.joco-order.selected,
.joco-order.selectable:hover,
.joco-select-box.selected,
.joco-select-box.selectable:hover {
  cursor: pointer;
  display: block;
  outline: calc(var(--boardScale) * 4px) solid blue !important;
}

.joco-select-box.joco-company-debt[data-vote=true] {
  outline-style: dashed !important;
}

.joco_elephant,
#joco-elephant {
  position: absolute;
  background-image: url("img/elephant.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: calc(var(--tokenScale) * 51px);
  width: calc(var(--tokenScale) * 60px);
  transition: transform 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
}

#joco-elephant[data-location=Bengal] {
  top: calc(var(--tokenScale) * 60px);
  left: calc(var(--tokenScale) * 1291px);
  transform: scaleX(-1);
}

#joco-elephant[data-location=Bombay] {
  top: calc(var(--tokenScale) * 143px);
  left: calc(var(--tokenScale) * 900px);
}

#joco-elephant[data-location=Delhi] {
  top: calc(var(--tokenScale) * 2px);
  left: calc(var(--tokenScale) * 1117px);
}

#joco-elephant[data-location=Hyderabad] {
  top: calc(var(--tokenScale) * 255px);
  left: calc(var(--tokenScale) * 1092px);
  transform: scaleX(-1);
}

#joco-elephant[data-location=Madras] {
  top: calc(var(--tokenScale) * 366px);
  left: calc(var(--tokenScale) * 1100px);
}

#joco-elephant[data-location=Maratha] {
  top: calc(var(--tokenScale) * 168px);
  left: calc(var(--tokenScale) * 1167px);
  transform: scaleX(-1);
}

#joco-elephant[data-location=Mysore] {
  top: calc(var(--tokenScale) * 451px);
  left: calc(var(--tokenScale) * 1022px);
}

#joco-elephant[data-location=Punjab] {
  top: calc(var(--tokenScale) * 2px);
  left: calc(var(--tokenScale) * 874px);
}

#joco-elephant[data-location=Bengal_Delhi_border][data-facing=Bengal] {
  top: calc(var(--tokenScale) * 44px);
  left: calc(var(--tokenScale) * 1240px);
  transform: rotate(7deg);
}

#joco-elephant[data-location=Bengal_Delhi_border][data-facing=Delhi] {
  top: calc(var(--tokenScale) * 50px);
  left: calc(var(--tokenScale) * 1236px);
  transform: scaleX(-1) rotate(-38deg);
}

#joco-elephant[data-location=Bengal_Maratha_border][data-facing=Bengal] {
  top: calc(var(--tokenScale) * 164px);
  left: calc(var(--tokenScale) * 1288px);
  transform: rotate(-56deg);
}

#joco-elephant[data-location=Bengal_Maratha_border][data-facing=Maratha] {
  top: calc(var(--tokenScale) * 164px);
  left: calc(var(--tokenScale) * 1288px);
  transform: scaleX(-1) rotate(31deg);
}

#joco-elephant[data-location=Bombay_Delhi_border][data-facing=Bombay] {
  top: calc(var(--tokenScale) * 83px);
  left: calc(var(--tokenScale) * 986px);
  transform: scaleX(-1) rotate(34deg);
}

#joco-elephant[data-location=Bombay_Delhi_border][data-facing=Delhi] {
  top: calc(var(--tokenScale) * 83px);
  left: calc(var(--tokenScale) * 986px);
  transform: rotate(-56deg);
}

#joco-elephant[data-location=Bombay_Hyderabad_border][data-facing=Bombay] {
  top: calc(var(--tokenScale) * 235px);
  left: calc(var(--tokenScale) * 999px);
  transform: scaleX(-1) rotate(-24deg);
}

#joco-elephant[data-location=Bombay_Hyderabad_border][data-facing=Hyderabad] {
  top: calc(var(--tokenScale) * 229px);
  left: calc(var(--tokenScale) * 991px);
  transform: rotate(4deg);
}

#joco-elephant[data-location=Bombay_Maratha_border][data-facing=Bombay] {
  top: calc(var(--tokenScale) * 123px);
  left: calc(var(--tokenScale) * 1004px);
  transform: scaleX(-1) rotate(-4deg);
}

#joco-elephant[data-location=Bombay_Maratha_border][data-facing=Maratha] {
  top: calc(var(--tokenScale) * 123px);
  left: calc(var(--tokenScale) * 1004px);
  transform: rotate(-4deg);
}

#joco-elephant[data-location=Bombay_Mysore_border][data-facing=Bombay] {
  top: calc(var(--tokenScale) * 333px);
  left: calc(var(--tokenScale) * 969px);
  transform: scaleX(-1) rotate(-77deg);
}

#joco-elephant[data-location=Bombay_Mysore_border][data-facing=Mysore] {
  top: calc(var(--tokenScale) * 315px);
  left: calc(var(--tokenScale) * 975px);
  transform: rotate(40deg);
}

#joco-elephant[data-location=Bombay_Punjab_border][data-facing=Bombay] {
  top: calc(var(--tokenScale) * 72px);
  left: calc(var(--tokenScale) * 874px);
  transform: rotate(45deg);
}

#joco-elephant[data-location=Bombay_Punjab_border][data-facing=Punjab] {
  top: calc(var(--tokenScale) * 82px);
  left: calc(var(--tokenScale) * 874px);
  transform: scaleX(-1) rotate(-77deg);
}

#joco-elephant[data-location=Delhi_Maratha_border][data-facing=Delhi] {
  top: calc(var(--tokenScale) * 68px);
  left: calc(var(--tokenScale) * 1124px);
  transform: scaleX(-1) rotate(-75deg);
}

#joco-elephant[data-location=Delhi_Maratha_border][data-facing=Maratha] {
  top: calc(var(--tokenScale) * 81px);
  left: calc(var(--tokenScale) * 1059px);
  transform: scaleX(-1) rotate(41deg);
}

#joco-elephant[data-location=Delhi_Punjab_border][data-facing=Delhi] {
  top: calc(var(--tokenScale) * 6px);
  left: calc(var(--tokenScale) * 974px);
  transform: rotate(22deg);
}

#joco-elephant[data-location=Delhi_Punjab_border][data-facing=Punjab] {
  top: calc(var(--tokenScale) * 2px);
  left: calc(var(--tokenScale) * 977px);
  transform: scaleX(-1) rotate(-36deg);
}

#joco-elephant[data-location=Hyderabad_Madras_border][data-facing=Hyderabad] {
  top: calc(var(--tokenScale) * 345px);
  left: calc(var(--tokenScale) * 1092px);
  transform: rotate(-78deg);
}

#joco-elephant[data-location=Hyderabad_Madras_border][data-facing=Madras] {
  top: calc(var(--tokenScale) * 343px);
  left: calc(var(--tokenScale) * 1094px);
  transform: scaleX(-1) rotate(52deg);
}

#joco-elephant[data-location=Hyderabad_Maratha_border][data-facing=Hyderabad] {
  top: calc(var(--tokenScale) * 229px);
  left: calc(var(--tokenScale) * 1122px);
  transform: scaleX(-1) rotate(23deg);
}

#joco-elephant[data-location=Hyderabad_Maratha_border][data-facing=Maratha] {
  top: calc(var(--tokenScale) * 229px);
  left: calc(var(--tokenScale) * 1115px);
  transform: rotate(-56deg);
}

#joco-elephant[data-location=Hyderabad_Mysore_border][data-facing=Hyderabad] {
  top: calc(var(--tokenScale) * 324px);
  left: calc(var(--tokenScale) * 1044px);
  transform: rotate(-44deg);
}

#joco-elephant[data-location=Hyderabad_Mysore_border][data-facing=Mysore] {
  top: calc(var(--tokenScale) * 317px);
  left: calc(var(--tokenScale) * 1044px);
  transform: scaleX(-1) rotate(32deg);
}

#joco-elephant[data-location=Madras_Mysore_border][data-facing=Madras] {
  top: calc(var(--tokenScale) * 451px);
  left: calc(var(--tokenScale) * 1059px);
}

#joco-elephant[data-location=Madras_Mysore_border][data-facing=Mysore] {
  top: calc(var(--tokenScale) * 456px);
  left: calc(var(--tokenScale) * 1059px);
  transform: scaleX(-1);
}

.joco-treasury {
  position: absolute;
  display: grid;
  grid-template-columns: calc(var(--boardScale) * 30px) calc(var(--boardScale) * 60px) calc(var(--boardScale) * 30px);
}
.joco-treasury .joco-container {
  display: flex;
  flex-direction: row;
  gap: calc(var(--boardScale) * 4px);
  font-weight: 700;
  font-size: calc(var(--boardScale) * 30px);
  justify-content: center;
}
.joco-treasury .joco-button {
  background-color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--boardScale) * 24px);
  border: calc(var(--boardScale) * 1px) solid #060606;
  box-shadow: 0 0 0 #000;
  color: #060606;
  text-shadow: none;
  border-radius: calc(var(--boardScale) * 6px);
  cursor: pointer;
}
.joco-treasury .joco-button i {
  pointer-events: none;
}
.joco-treasury .joco-button:hover {
  background-color: #f0f0f0;
}
.joco-treasury .joco-button.disabled {
  background: #787878;
  pointer-events: none;
}

.joco-treasury[data-active=false] .joco-button {
  cursor: auto;
  visibility: hidden;
  pointer-events: none;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton,
  #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
/* Hide the "You may note something for next time..." popup that would appear. */
#turnBasedNotesIncent {
  display: none;
}

/** Hide player is now online, player is now offline messages 
* Note: requires setup of adding notif name as class
* TODO: add name of function
*/
.notif_playerstatus {
  display: none !important;
}

/* Prevent the game from scrolling while the game log or chat is visible on mobile. */
body.chatbar_ontop {
  overflow: hidden;
}

/* Add text shadows to player colors that require it */
a[style*="color: #f9e08d"],
a[style*="color:#f9e08d"],
span[style*="color: #f9e08d"],
span[style*="color:#f9e08d"],
a[style*="color: #dbd9d6"],
a[style*="color:#dbd9d6"],
span[style*="color: #dbd9d6"],
span[style*="color:#dbd9d6"],
a[style*="color: #ffb1b9"],
a[style*="color:#ffb1b9"],
span[style*="color: #ffb1b9"],
span[style*="color:#ffb1b9"],
a[style*="color: #99dae9"],
a[style*="color:#99dae9"],
span[style*="color: #99dae9"],
span[style*="color:#99dae9"],
a[style*="color: #c7b4e1"],
a[style*="color:#c7b4e1"],
span[style*="color: #c7b4e1"],
span[style*="color:#c7b4e1"],
a[style*="color: #addb90"],
a[style*="color:#addb90"],
span[style*="color: #addb90"],
span[style*="color:#addb90"] {
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black !important;
}

#page-title {
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagemaintitle_wrap {
  flex-grow: 1;
}

.joco-crown-climate-row {
  --iconScale: 1;
  width: 100%;
  display: grid;
  grid-template: 39px auto/repeat(5, 40px);
  justify-content: space-evenly;
  gap: 2px;
  row-gap: 4px;
}

.joco-crown-climate-icon {
  background-image: url("img/crown_climate.png");
  background-size: 500% 100%;
  width: calc(var(--iconScale) * 40px);
  height: calc(var(--iconScale) * 39px);
}

.joco-crown-climate-icon[data-climate=Bear] {
  background-position-x: 0%;
}

.joco-crown-climate-icon[data-climate=Bull] {
  background-position-x: 25%;
}

.joco-crown-climate-icon[data-climate=Lion] {
  background-position-x: 50%;
}

.joco-crown-climate-icon[data-climate=Peacock] {
  background-position-x: 75%;
}

.joco-crown-climate-icon[data-climate=Stag] {
  background-position-x: 100%;
}

.joco-crown-climate-indicator-container {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.joco-crown-climate-indicator-container .joco-crown-climate-indicator {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s ease-out, opacity 0.6s linear;
}

.joco-crown-climate-indicator-container.active .joco-crown-climate-indicator {
  opacity: 1;
  visibility: visible;
}

.joco-storm-die {
  background-image: url("img/storm_die.png");
  background-size: 500% 100%;
  width: calc(var(--iconScale) * 50px);
  height: calc(var(--iconScale) * 50px);
}

.joco-storm-die[data-side=four] {
  background-position-x: 0%;
}

.joco-storm-die[data-side=oneAll] {
  background-position-x: 25%;
}

.joco-storm-die[data-side=threeSouth] {
  background-position-x: 50%;
}

.joco-storm-die[data-side=twoEast] {
  background-position-x: 75%;
}

.joco-storm-die[data-side=twoWest] {
  background-position-x: 100%;
}

.joco-icon {
  background-image: url("img/icons.png");
  background-size: 600% 100%;
  width: calc(var(--iconScale) * 48px);
  height: calc(var(--iconScale) * 48px);
}

.joco-icon[data-icon=Luxury] {
  background-position-x: 0%;
}

.joco-icon[data-icon=Share] {
  background-position-x: 80%;
}

.joco-icon[data-icon=Shipyard] {
  background-position-x: 40%;
}

.joco-icon[data-icon=Workshop] {
  background-position-x: 20%;
}

.joco-icon[data-icon=Writer] {
  background-position-x: 100%;
}

.joco-icon[data-icon=OfficerInTraining] {
  background-position-x: 60%;
}

.joco-family-member {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: calc(var(--tokenScale) * 46px);
  width: calc(var(--tokenScale) * 39px);
  outline: calc(var(--tokenScale) * 1px) solid black;
}
.joco-family-member svg {
  height: calc(var(--tokenScale) * 42px);
  width: calc(var(--tokenScale) * 35px);
  pointer-events: none;
}

.joco-family-member[data-family=Benyon] {
  background-color: #ffb1b9;
  outline-color: #cd3263;
}
.joco-family-member[data-family=Benyon] svg {
  fill: #cd3263;
}

.joco-family-member[data-family=Hastings] {
  background-color: #99dae9;
  outline-color: #006480;
}
.joco-family-member[data-family=Hastings] svg {
  fill: #006480;
}

.joco-family-member[data-family=Larkins] {
  background-color: #f9e08d;
  outline-color: #9d5e16;
}
.joco-family-member[data-family=Larkins] svg {
  fill: #9d5e16;
}

.joco-family-member[data-family=Paxton] {
  background-color: #dbd9d6;
  outline-color: #101820;
}
.joco-family-member[data-family=Paxton] svg {
  fill: #101820;
}

.joco-family-member[data-family=Sykes] {
  background-color: #c7b4e1;
  outline-color: #880064;
}
.joco-family-member[data-family=Sykes] svg {
  fill: #880064;
}

.joco-family-member[data-family=Walsh] {
  background-color: #addb90;
  outline-color: #2b5135;
}
.joco-family-member[data-family=Walsh] svg {
  fill: #2b5135;
}

.joco-ship {
  position: absolute;
  width: calc(var(--tokenScale) * 40px);
  height: calc(var(--tokenScale) * 36px);
  background-size: 100% 100%;
}

.joco-ship[data-type=CompanyShip] {
  background-image: url("img/ship_company.png");
}

.joco-ship[data-type=ExtraShip] {
  background-image: url("img/ship_extra.png");
}

.joco-ship[data-type=playerOwnedShip] {
  background-image: url("img/ship_player.png");
}

.joco-ship[data-type=playerOwnedShip][data-fatigued="1"] {
  background-image: url("img/ship_player_fatigued.png");
}

.joco-family-member.selectable {
  cursor: pointer;
  outline: calc(var(--tokenScale) * 4px) solid yellow !important;
  z-index: 1;
}

.joco-family-member.selectable:hover,
.joco-family-member.selected {
  cursor: pointer;
  outline: calc(var(--tokenScale) * 4px) solid blue !important;
  z-index: 1;
}

.joco-ship.selectable {
  cursor: pointer;
  filter: drop-shadow(calc(var(--tokenScale) * 4px) 0px 0px yellow) drop-shadow(calc(var(--tokenScale) * -4px) 0px 0px yellow) drop-shadow(0px calc(var(--tokenScale) * 4px) 0px yellow) drop-shadow(0px calc(var(--tokenScale) * -4px) 0px yellow);
  z-index: 1;
}

.joco-ship.selectable:hover,
.joco-ship.selected {
  cursor: pointer;
  filter: drop-shadow(calc(var(--tokenScale) * 4px) 0px 0px blue) drop-shadow(calc(var(--tokenScale) * -4px) 0px 0px blue) drop-shadow(0px calc(var(--tokenScale) * 4px) 0px blue) drop-shadow(0px calc(var(--tokenScale) * -4px) 0px blue);
  z-index: 1;
}

.joco-player-area {
  display: flex;
  flex-direction: column;
  min-height: 200px;
}
.joco-player-area .playername {
  font-size: larger;
}

.player-board-game-specific-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.player-board-game-specific-content .joco-family-member {
  --tokenScale: 1.043;
  position: relative;
  margin: 0px auto;
}
.player-board-game-specific-content .joco_pound {
  --tokenScale: 0.96;
}
.player-board-game-specific-content .joco-ship {
  --tokenScale: 1.2;
  position: relative;
  margin-top: auto;
}
.player-board-game-specific-content .joco-counter-container {
  display: flex;
}
.player-board-game-specific-content .joco-counter {
  margin: 0px auto;
  font-weight: 700;
  font-size: larger;
}

.joco-counters-row {
  width: 100%;
  display: grid;
  grid-template: 48px auto/repeat(4, 48px);
  justify-content: space-evenly;
  gap: 4px;
}

.joco-setup-card {
  height: calc(var(--cardScale) * 228px);
  width: calc(var(--cardScale) * 150px);
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}

.joco-setup-card.selectable {
  cursor: pointer;
  outline: 4px solid yellow;
}

.joco-setup-card.selected,
.joco-setup-card.selectable:hover {
  cursor: pointer;
  outline: 4px solid blue;
}

#joco_setup_area {
  --cardScale: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}
#joco_setup_area .joco_container {
  display: flex;
  flex-flow: column;
  padding: 8px;
  min-width: 460px;
  background-color: rgba(255, 250, 250, 0.4);
}
#joco_setup_area .joco_container .joco_label {
  /* height: 20px; */
  font-weight: bold;
  font-size: large;
  margin-bottom: 8px;
}
#joco_setup_area .joco_container #joco_chosen_cards,
#joco_setup_area .joco_container #joco_draft_cards {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}

.joco-setup-card[data-card-id=Setup1710_01] {
  background-image: url("img/1710_1.jpg");
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: 400% 200%;
}

.joco-setup-card[data-card-id=Setup1710_02] {
  background-image: url("img/1710_1.jpg");
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
  background-size: 400% 200%;
}

.joco-setup-card[data-card-id=Setup1710_03] {
  background-image: url("img/1710_1.jpg");
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
  background-size: 400% 200%;
}

.joco-setup-card[data-card-id=Setup1710_04] {
  background-image: url("img/1710_1.jpg");
  background-position-x: 100%;
  background-position-y: 0%;
  background-size: 400% 200%;
}

.joco-setup-card[data-card-id=Setup1710_05] {
  background-image: url("img/1710_1.jpg");
  background-position-x: 0%;
  background-position-y: 100%;
  background-size: 400% 200%;
}

.joco-setup-card[data-card-id=Setup1710_06] {
  background-image: url("img/1710_1.jpg");
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
  background-size: 400% 200%;
}

.joco-setup-card[data-card-id=Setup1710_07] {
  background-image: url("img/1710_1.jpg");
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
  background-size: 400% 200%;
}

.joco-setup-card[data-card-id=Setup1710_08] {
  background-image: url("img/1710_1.jpg");
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 400% 200%;
}

.joco-setup-card[data-card-id=Setup1710_09] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: 400% 300%;
}

.joco-setup-card[data-card-id=Setup1710_10] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
  background-size: 400% 300%;
}

.joco-setup-card[data-card-id=Setup1710_11] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
  background-size: 400% 300%;
}

.joco-setup-card[data-card-id=Setup1710_12] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 100%;
  background-position-y: 0%;
  background-size: 400% 300%;
}

.joco-setup-card[data-card-id=Setup1710_13] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 0%;
  background-position-y: 50%;
  background-size: 400% 300%;
}

.joco-setup-card[data-card-id=Setup1710_14] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 33.3333333333%;
  background-position-y: 50%;
  background-size: 400% 300%;
}

.joco-setup-card[data-card-id=Setup1710_15] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 66.6666666667%;
  background-position-y: 50%;
  background-size: 400% 300%;
}

.joco-setup-card[data-card-id=Setup1710_16] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: 400% 300%;
}

.joco-setup-card[data-card-id=Setup1710_17] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 0%;
  background-position-y: 100%;
  background-size: 400% 300%;
}

.joco-setup-card[data-card-id=Setup1710_18] {
  background-image: url("img/1710_2.jpg");
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
  background-size: 400% 300%;
}

/* ------- UNDO TURN ------- */
/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

a[style*="color: #c0c0c0"],
a[style*="color:#c0c0c0"],
span[style*="color: #c0c0c0"],
span[style*="color:#c0c0c0"] {
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black !important;
}

#logs .log.notif_newUndoableStep {
  margin-top: 0px;
}
#logs .log.notif_newUndoableStep .roundedbox {
  display: none;
  text-align: center;
  cursor: pointer;
  background-color: #c4c2c2;
  font-size: 12px;
  padding: 2px 5px;
}
#logs .log.notif_newUndoableStep .roundedbox::before, #logs .log.notif_newUndoableStep .roundedbox::after {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0px 10px;
}
#logs .log.notif_newUndoableStep.selectable .roundedbox {
  display: block;
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  margin-bottom: -4px;
  padding: 0px;
  display: none !important;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable {
  display: block !important;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner {
  text-align: center;
  cursor: pointer;
  background-color: #c4c2c2;
  font-size: 12px;
  padding: 2px 5px;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner::before, .chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner::after {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0px 10px;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner .msgtime {
  display: none;
}

/* ------- LOG TOKENS ------- */
.log_token.joco_pound.animation {
  position: absolute;
  --tokenScale: 0.96;
}

.log_tooltip {
  position: relative;
}
.log_tooltip .help-marker {
  top: -11px;
  left: auto;
  right: -18px;
}

.log-token,
.log_token {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -3px;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

#customActions {
  --iconScale: 0.75;
  --tokenScale: 0.6;
}
#customActions .joco-ship {
  --tokenScale: 0.9;
}

#pagemaintitletext,
#gameaction_status {
  --tokenScale: 0.6;
  --iconScale: 0.7;
  --cardScale: 0;
}
#pagemaintitletext .joco-setup-card,
#pagemaintitletext .joco-new-line,
#gameaction_status .joco-setup-card,
#gameaction_status .joco-new-line {
  display: none;
}
#pagemaintitletext .joco-crown-climate-icon,
#gameaction_status .joco-crown-climate-icon {
  --iconScale: 0.85;
}
#pagemaintitletext .joco-family-member,
#gameaction_status .joco-family-member {
  display: inline-flex;
  --tokenScale: 0.85;
}
#pagemaintitletext .joco-ship,
#gameaction_status .joco-ship {
  --tokenScale: 0.9;
}
#pagemaintitletext .joco-regiment,
#gameaction_status .joco-regiment {
  --tokenScale: 1;
}

.log > .roundedbox,
.log > .roundedboxinner {
  --tokenScale: 0.6;
  --iconScale: 0.7;
}
.log > .roundedbox .joco-setup-card,
.log > .roundedboxinner .joco-setup-card {
  --cardScale: 0.74;
}
.log > .roundedbox .joco-crown-climate-icon,
.log > .roundedboxinner .joco-crown-climate-icon {
  --iconScale: 0.9;
}
.log > .roundedbox .joco-family-member,
.log > .roundedboxinner .joco-family-member {
  display: inline-flex;
  --tokenScale: 0.8;
  top: -4px;
  margin-top: 4px;
}
.log > .roundedbox .joco-regiment,
.log > .roundedboxinner .joco-regiment {
  --tokenScale: 0.8;
}

.notif_nextPhase .roundedboxinner,
.notif_nextPhase .roundedbox {
  font-weight: bold;
  text-align: center;
}

.notif_nextPhase .roundedbox {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.joco_pound {
  background-image: url("img/pound.png");
  background-size: 100% 100%;
  height: calc(var(--tokenScale) * 50px);
  width: calc(var(--tokenScale) * 50px);
}

html {
  background-image: url("img/background.jpg");
  background-attachment: fixed;
}

#joco #joco-overlay,
#joco-play-area {
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}

#joco,
#joco-overlay {
  display: block;
  grid-column: 1/2;
  height: 100%;
}

#joco-play-area {
  width: 100%;
  display: grid;
  grid-template: 82px auto/100%;
  height: min-content;
  margin-left: 0;
}

#joco-overlay {
  grid-row: 1/3;
  pointer-events: none;
  display: block;
  grid-column: 1/2;
  height: 100%;
}

#joco {
  grid-row: 2/3;
  display: grid;
  grid-template: auto/100%;
}

#joco > div {
  grid-column: 1/2;
  grid-row: 1/2;
  height: min-content;
}

.joco-tab-hidden {
  opacity: 0;
  pointer-events: none;
  transition: visibility 0.45s ease-out, opacity 0.45s linear;
  visibility: hidden;
}

.joco-tab-visible {
  opacity: 1;
  transition: visibility 0s ease-out, opacity 0.6s linear;
  visibility: visible;
}

/*# sourceMappingURL=johncompany.css.map */
