@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.fb-font-baskerville {
  font-family: 'Libre Baskerville', serif;
}

.fb-font-parisienne {
  font-family: 'Parisienne', cursive;
}

.fb-font-8 {
  font-size: 8px;
}

.fb-font-12 {
  font-size: 12px;
}

.fb-font-16 {
  font-size: 16px;
}

.fb-font-20 {
  font-size: 20px;
}

.fb-font-24 {
  font-size: 24px;
}

.fb-font-28 {
  font-size: 28px;
}

.fb-font-32 {
  font-size: 32px;
}

.fb-font-36 {
  font-size: 36px;
}

.fb-font-40 {
  font-size: 40px;
}

.fb-font-bold {
  font-weight: bold;
}

.fb-font-medium {
  font-weight: 500;
}

.fb-font-semi-bold {
  font-weight: 600;
}

.fb-font-regular {
  font-weight: normal;
}

.fb-font-italic {
  font-style: italic;
}
