@use 'sass:math';
/* ------- UNDO TURN ------- */

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

a[style*='color: #c0c0c0'],
a[style*='color:#c0c0c0'],
span[style*='color: #c0c0c0'],
span[style*='color:#c0c0c0'] {
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black,
    1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black !important;
}

#logs .log.notif_newUndoableStep {
  margin-top: 0px;

  .roundedbox {
    display: none;
    text-align: center;
    cursor: pointer;
    background-color: #c4c2c2;
    font-size: 12px;
    padding: 2px 5px;

    &::before,
    &::after {
      content: '\f0e2';
      font: normal normal normal 12px/1 FontAwesome;
      margin: 0px 10px;
    }
  }

  &.selectable .roundedbox {
    display: block;
  }
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  margin-bottom: -4px;
  padding: 0px;
  display: none !important;

  &.selectable {
    display: block !important;

    .roundedboxinner {
      text-align: center;
      cursor: pointer;
      background-color: #c4c2c2;
      font-size: 12px;
      padding: 2px 5px;

      &::before,
      &::after {
        content: '\f0e2';
        font: normal normal normal 12px/1 FontAwesome;
        margin: 0px 10px;
      }

      .msgtime {
        display: none;
      }
    }
  }
}

/* ------- LOG TOKENS ------- */

.log_tooltip {
  position: relative;
  .help-marker {
    top: -11px;
    left: auto;
    right: -18px;
}
}

.gest_log_die {
  min-height: calc(var(--gestTokenScale) * 40px);
  min-width: calc(var(--gestTokenScale) * 40px);
  max-height: calc(var(--gestTokenScale) * 40px);
  max-width: calc(var(--gestTokenScale) * 40px);
  display: inline-block;
  border: 1px solid;
  border-radius: 5%;
  // text-align: center;

  .gest_log_die_value {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 700;
    font-size: large;
    margin-top: 3px;
  }
}

#customActions {
  .gest_log_token {
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  .gest_force_side[data-type='TallageCarriage'],
  .gest_force_side[data-type='TrapCarriage'],
  .gest_force_side[data-type='TributeCarriage'],
  .gest_force_side[data-type='Carriage'] {
    --gestForceScale: 0.55;
    margin: -3px;
  }

  .gest_force_side[data-type='Camp'],
  .gest_force_side[data-type='Henchmen'],
  .gest_force_side[data-type='MerryMen'],
  .gest_force_side[data-type='RobinHood'] {
    --gestForceScale: 0.55;
    top: -3px;
    margin-top: 3px;
  }

  .gest_log_card {
    --gestCardScale: 0.119;
    margin: -3px 0px;
  }
}

#pagemaintitletext,
#gameaction_status {
  .gest_card_side,
  .gest_card {
    display: none;
  }

  .gest_log_token {
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  .gest_log_die {
    --gestTokenScale: 0.7;
    position: relative;
    top: -3px;
    margin-top: 3px;
    vertical-align: middle;

    .gest_log_die_value {
      margin-top: -1px;
    }
  }

  .gest_traveller_back_log {
    display: inline-block;
    --gestCardScale: 0.15;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-top: 3px;
    // margin: -3px 0px;
  }

  .gest_force_side[data-type='TallageCarriage'],
  .gest_force_side[data-type='TrapCarriage'],
  .gest_force_side[data-type='TributeCarriage'],
  .gest_force_side[data-type='Carriage'] {
    --gestForceScale: 0.65;
    top: -3px;
    margin-top: 3px;
  }

  .gest_force_side[data-type='Camp'],
  .gest_force_side[data-type='Henchmen'],
  .gest_force_side[data-type='MerryMen'],
  .gest_force_side[data-type='RobinHood'] {
    --gestForceScale: 0.7;
    top: -3px;
    margin-top: 3px;
  }

  .gest_icon[data-icon='shilling'] {
    --gestIconScale: 1.1;
    top: -3px;
    margin-top: 3px;
  }
}

.log > .roundedbox,
.log > .roundedboxinner {
  .gest_card {
    margin-top: calc(var(--logCardScale) * 6px);
  }

  .gest_log_token {
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  .gest_log_card {
    --gestCardScale: var(--logCardScale);
  }

  .gest_log_die {
    --gestTokenScale: 0.7;
    position: relative;
    top: -3px;
    margin-top: 3px;
    vertical-align: middle;
  }

  .gest_force_side[data-type='TallageCarriage'],
  .gest_force_side[data-type='TrapCarriage'],
  .gest_force_side[data-type='TributeCarriage'],
  .gest_force_side[data-type='Carriage'] {
    --gestForceScale: 0.65;
    top: -3px;
    margin-top: 3px;
  }

  .gest_force_side[data-type='Camp'],
  .gest_force_side[data-type='Henchmen'],
  .gest_force_side[data-type='MerryMen'],
  .gest_force_side[data-type='RobinHood'] {
    --gestForceScale: 0.6;
    top: -3px;
    margin-top: 3px;
  }

  .gest_icon[data-icon='shilling'] {
    --gestIconScale: 0.9;
    top: -3px;
    margin-top: 3px;
  }
}

.gest_log_die[data-die-color='green'] {
  background-color: green;
  color: silver;
}

.gest_log_die[data-die-color='white'] {
  background-color: white;
  color: red;
}
