@use '../../base';

.joco-army {
  box-sizing: border-box;
  // min-width: 0;
  width: 100%;

  &.joco-container {
    padding: 0;
  }

  .joco-army-banner {
    position: relative;
    padding: 4px 8px;
    padding-left: 52px;

    .joco-family-member-spot {
      position: absolute;
      left: 4px;
      top: -10px;
      outline: 1px solid white;
      border: 2px solid;
    }
  }

  .joco-army-stock {
    min-height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;

    &.joco-exhausted {
      .joco-local-alliance {
        margin: -4px;
      }
    }
  }

  .joco-inner-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
  }

  &.selectable {
    cursor: pointer;
    outline: 4px solid base.$selectable-color !important;
  }

  &.selectable:hover,
  &.selected {
    cursor: pointer;
    outline: 4px solid base.$selected-color !important;
  }
}

#ArmyOfPresidency_Bengal {
  .joco-family-member-spot {
    border-color: base.$bengal-color;
  }
}

#ArmyOfPresidency_Bombay {
  .joco-family-member-spot {
    border-color: base.$bombay-color;
  }
}

#ArmyOfPresidency_Madras {
  .joco-family-member-spot {
    border-color: base.$madras-color;
  }
}
