@use '../base';

#joco_board {
  --boardScale: var(--leftColumnScale);
  position: relative;
  background-image: url('img/board.jpg');
  background-size: 100% 100%;
  height: calc(var(--leftColumnScale) * 759px);
  width: calc(var(--leftColumnScale) * 1500px);
  // width: 100%;
  // aspect-ratio: 30 / 15;
}

#joco_family_members,
#joco_orders {
  position: absolute;
  top: 0;
  left: 0;
}

.joco_order {
  position: absolute;
  border-radius: 50%;
  height: calc(var(--leftColumnScale) * 46px);
  width: calc(var(--leftColumnScale) * 39.5px);
  // background-color: yellow;
  // opacity: 0.5;
  // box-shadow: 0px 0px 0px 4px base.$selectable-color !important;
}

.joco_order[data-status=closed] {
  background-color: black;
}

.joco_order[data-status=filled] {
  background-color: lightgray;
}

.joco_pawn {
  position: absolute;
  background-size: 100% 100%;
  width: calc(var(--boardScale) * 20px);
  height: calc(var(--boardScale) * 37px);
  top: calc(var(--boardScale) * 63px);
  left: calc(var(--boardScale) * 370px);
  // width: 30px;
  // height: 56px;
}

.joco_pawn[data-color=red] {
  background-image: url('img/pawn_red.svg');
}

.joco_pawn[data-color=black] {
  background-image: url('img/pawn_black.svg');
}

.joco_pawn[data-color=silver] {
  background-image: url('img/pawn_silver.svg');
}