$selectable-color: yellow;
$selected-color: blue;

$player-purple: #c7b4e1;
$player-purple-highlight: hsl(265, 43%, 89%);
$player-purple-shadow: hsl(265, 43%, 69%);
$player-purple-dark: #880064;
$player-blue: #99dae9;
$player-blue-highlight: hsl(191, 65%, 86%);
$player-blue-shadow: hsl(191, 65%, 66%);
$player-blue-dark: #006480;
$player-pink: #ffb1b9;
$player-pink-highlight: hsl(354, 100%, 95%);
$player-pink-shadow: hsl(354, 100%, 75%);
$player-pink-dark: #cd3263;
$player-gray: #dbd9d6;
$player-gray-highlight: hsl(36, 6%, 95%);
$player-gray-shadow: hsl(36, 6%, 75%);
$player-gray-dark: #101820;
$player-yellow: #f9e08d;
$player-yellow-highlight: hsl(46, 90%, 86%);
$player-yellow-shadow: hsl(46, 90%, 66%);
$player-yellow-dark: #9d5e16;

$player-green: #addb90;
// 10 point
$player-green-highlight: hsl(97, 51%, 81%);
$player-green-shadow: hsl(97, 51%, 61%);
$player-green-dark: #2b5135;

$crown-red: #bd1f35;
$joco-red: rgb(183, 98, 85);
$joco-white: rgb(245, 237, 224);

$regiment-color: rgb(212, 179, 176);

$bengal-color: #b47860;
$bengal-color-highlight: #c49583;
$bengal-color-shadow: #995f48;
$bombay-color: #a1b4ab;
$bombay-color-highlight: #bdcbc4;
$bombay-color-shadow: #859d92;
$madras-color: #e9ca92;
$madras-color-highlight: #f2dfbc;
$madras-color-shadow: #e0b568;
$punjab-color: #8a8e99;
$punjab-color-highlight: #a5a8b1;
$punjab-color-shadow: #707480;
$delhi-color: #8e867c;
$delhi-color-highlight: #a69f97;
$delhi-color-shadow: #736c64;
$maratha-color: #cd9f6b;
$maratha-color-highlight: #dab891;
$maratha-color-shadow: #c08645;
$hyderabad-color: #a4a576;
$hyderabad-color-highlight: #b8b995;
$hyderabad-color-shadow: #8b8c5c;
$mysore-color: #c9bda5;
$mysore-color-highlight: #dcd4c5;
$mysore-color-shadow: #b6a685;

.joco-background-presidency_bombay,
.joco-background-bombay {
  background-color: $bombay-color;
}

.joco-background-presidency_madras,
.joco-background-madras {
  background-color: $madras-color;
}

.joco-background-presidency_bengal,
.joco-background-bengal {
  background-color: $bengal-color;
}

.joco-row {
  display: flex;
  flex-direction: row;
}

.joco-column {
  display: flex;
  flex-direction: column;
}
