$selectable-color: yellow;
$selected-color: blue;

$player-purple: #c7b4e1;
$player-purple-dark: #880064; 
$player-blue: #99dae9;
$player-blue-dark: #006480;
$player-pink: #ffb1b9;
$player-pink-dark: #cd3263;
$player-gray: #dbd9d6;
$player-gray-dark: #101820;
$player-yellow: #f9e08d;
$player-yellow-dark: #9d5e16;
$player-green: #addb90;
$player-green-dark: #2b5135;

$crown-red: #bd1f35;

$bengal-color: #b47860;
$bombay-color: #a1b4ab;
$madras-color: #e9ca92;
$punjab-color: #8a8e99;
$delhi-color: #8e867c;
$maratha-color: #cd9f6b;
$hyderabad-color: #a4a576;
$mysore-color: #c9bda5;