@use './base';

.joco-family-member-spot {
  position: relative;
  border-radius: 50%;
  height: 46px;
  width: 39px;
  // outline: 3px double black;
  border: 3px double black;

  .joco-family-member-spot-background-elt {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    // pointer-events: none !important;
  }

  // TODO: replace with images for border
  &.selectable {
    cursor: pointer;
    outline: 4px solid base.$selectable-color;
  }

  &.selectable:hover,
  &.selected {
    cursor: pointer;
    outline: 4px solid base.$selected-color;
  }
}

.joco-family-member {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  border-radius: 50%;
  height: 46px;
  // width: 39px;
  aspect-ratio: 39 / 46;
  border: 2px solid black;

  outline: 1px solid black;
  // transition-property: top, left;
  // transition-duration: 700ms;
  // transition-timing-function: ease;

  svg {
    height: 100%;
    width: 100%;
    // height: 42px;
    // width: 35px;
    pointer-events: none;
  }
}

.joco-family-member[data-family='Benyon'] {
  background-color: base.$player-pink;
  outline-color: base.$player-pink-dark;
  border-color: base.$player-pink-highlight base.$player-pink-shadow
    base.$player-pink-shadow base.$player-pink-highlight;

  svg {
    fill: base.$player-pink-dark;
  }
}

.joco-family-member[data-family='Hastings'] {
  background-color: base.$player-blue;
  outline-color: base.$player-blue-dark;
  border-color: base.$player-blue-highlight base.$player-blue-shadow
    base.$player-blue-shadow base.$player-blue-highlight;

  svg {
    fill: base.$player-blue-dark;
  }
}
.joco-family-member[data-family='Larkins'] {
  background-color: base.$player-yellow;
  outline-color: base.$player-yellow-dark;
  border-color: base.$player-yellow-highlight base.$player-yellow-shadow
    base.$player-yellow-shadow base.$player-yellow-highlight;

  svg {
    fill: base.$player-yellow-dark;
  }
}

.joco-family-member[data-family='Paxton'] {
  background-color: base.$player-gray;
  outline-color: base.$player-gray-dark;
  border-color: base.$player-gray-highlight base.$player-gray-shadow
    base.$player-gray-shadow base.$player-gray-highlight;

  svg {
    fill: base.$player-gray-dark;
  }
}
.joco-family-member[data-family='Sykes'] {
  background-color: base.$player-purple;
  outline-color: base.$player-purple-dark;
  border-color: base.$player-purple-highlight base.$player-purple-shadow
    base.$player-purple-shadow base.$player-purple-highlight;

  svg {
    fill: base.$player-purple-dark;
  }
}

.joco-family-member[data-family='Walsh'] {
  background-color: base.$player-green;
  outline-color: base.$player-green-dark;
  svg {
    fill: base.$player-green-dark;
  }

  border-color: base.$player-green-highlight base.$player-green-shadow
    base.$player-green-shadow base.$player-green-highlight;
  // box-shadow: 0 0 0 1px #790000, 0px 1px 4px #0008;
}

// .joco-family-member[data-family='Crown'] {
//   background-color: base.$crown-red;
//   // background-color: #EE4B2B;
// }
// .joco-family-member[data-family='Crown'] svg {
//   fill: black;
// }

.joco-ship {
  position: absolute;

  width: calc(var(--tokenScale) * 40px);
  height: calc(var(--tokenScale) * 36px);
  background-size: 100% 100%;
}

.joco-ship[data-type='CompanyShip'] {
  background-image: url('img/ship_company.png');
}

.joco-ship[data-type='ExtraShip'] {
  background-image: url('img/ship_extra.png');
}

.joco-ship[data-type='playerOwnedShip'] {
  background-image: url('img/ship_player.png');
}

.joco-ship[data-type='playerOwnedShip'][data-fatigued='1'] {
  background-image: url('img/ship_player_fatigued.png');
}

.joco-family-member.selectable {
  cursor: pointer;
  outline: calc(var(--tokenScale) * 4px) solid base.$selectable-color !important;
  z-index: 1;
}

.joco-family-member.selectable:hover,
.joco-family-member.selected {
  cursor: pointer;
  outline: calc(var(--tokenScale) * 4px) solid base.$selected-color !important;
  z-index: 1;
}

// TODO: replace with images for border
.joco-ship.selectable {
  cursor: pointer;
  filter: drop-shadow(
      calc(var(--tokenScale) * 4px) 0px 0px base.$selectable-color
    )
    drop-shadow(calc(var(--tokenScale) * -4px) 0px 0px base.$selectable-color)
    drop-shadow(0px calc(var(--tokenScale) * 4px) 0px base.$selectable-color)
    drop-shadow(0px calc(var(--tokenScale) * -4px) 0px base.$selectable-color);
  z-index: 1;
}

.joco-ship.selectable:hover,
.joco-ship.selected {
  cursor: pointer;
  filter: drop-shadow(
      calc(var(--tokenScale) * 4px) 0px 0px base.$selected-color
    )
    drop-shadow(calc(var(--tokenScale) * -4px) 0px 0px base.$selected-color)
    drop-shadow(0px calc(var(--tokenScale) * 4px) 0px base.$selected-color)
    drop-shadow(0px calc(var(--tokenScale) * -4px) 0px base.$selected-color);
  z-index: 1;
}
