@use './base';

.joco-family-member {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: calc(var(--tokenScale) * 46px);
  width: calc(var(--tokenScale) * 39px);
  outline: calc(var(--tokenScale) * 1px) solid black;
  // transition-property: top, left;
  // transition-duration: 700ms;
  // transition-timing-function: ease;

  svg {
    height: calc(var(--tokenScale) * 42px);
    width: calc(var(--tokenScale) * 35px);
    pointer-events: none;
  }
}

.joco-family-member[data-family='Benyon'] {
  background-color: base.$player-pink;
  outline-color: base.$player-pink-dark;
  svg {
    fill: base.$player-pink-dark;
  }
}
.joco-family-member[data-family='Hastings'] {
  background-color: base.$player-blue;
  outline-color: base.$player-blue-dark;
  svg {
    fill: base.$player-blue-dark;
  }
}
.joco-family-member[data-family='Larkins'] {
  background-color: base.$player-yellow;
  outline-color: base.$player-yellow-dark;
  svg {
    fill: base.$player-yellow-dark;
  }
}
.joco-family-member[data-family='Paxton'] {
  background-color: base.$player-gray;
  outline-color: base.$player-gray-dark;
  svg {
    fill: base.$player-gray-dark;
  }
}
.joco-family-member[data-family='Sykes'] {
  background-color: base.$player-purple;
  outline-color: base.$player-purple-dark;
  svg {
    fill: base.$player-purple-dark;
  }
}
.joco-family-member[data-family='Walsh'] {
  background-color: base.$player-green;
  outline-color: base.$player-green-dark;
  svg {
    fill: base.$player-green-dark;
  }
}

// .joco-family-member[data-family='Crown'] {
//   background-color: base.$crown-red;
//   // background-color: #EE4B2B;
// }
// .joco-family-member[data-family='Crown'] svg {
//   fill: black;
// }

.joco-ship {
  position: absolute;
  background-image: url('img/ship_player.png');
  width: calc(var(--tokenScale) * 40px);
  height: calc(var(--tokenScale) * 36px);
  background-size: 100% 100%;
}

.joco-family-member.selectable {
  cursor: pointer;
  outline: calc(var(--tokenScale) * 4px) solid base.$selectable-color !important;
  z-index: 1;
}

.joco-family-member.selectable:hover,
.joco-family-member.selected {
  cursor: pointer;
  outline: calc(var(--tokenScale) * 4px) solid base.$selected-color !important;
  z-index: 1;
}

// TODO: replace with images for border
.joco-ship.selectable {
  cursor: pointer;
  filter: drop-shadow(
      calc(var(--tokenScale) * 4px) 0px 0px base.$selectable-color
    )
    drop-shadow(calc(var(--tokenScale) * -4px) 0px 0px base.$selectable-color)
    drop-shadow(0px calc(var(--tokenScale) * 4px) 0px base.$selectable-color)
    drop-shadow(0px calc(var(--tokenScale) * -4px) 0px base.$selectable-color);
  z-index: 1;
}

.joco-ship.selectable:hover,
.joco-ship.selected {
  cursor: pointer;
  filter: drop-shadow(
      calc(var(--tokenScale) * 4px) 0px 0px base.$selected-color
    )
    drop-shadow(calc(var(--tokenScale) * -4px) 0px 0px base.$selected-color)
    drop-shadow(0px calc(var(--tokenScale) * 4px) 0px base.$selected-color)
    drop-shadow(0px calc(var(--tokenScale) * -4px) 0px base.$selected-color);
  z-index: 1;
}
