/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * JohnCompany implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

@use './base';
@use './bar/bar';
@use './board/board';
@use './boilerplate/default';
@use './cards/setupCards';
@use './icons';
@use './negotiation/negotiation';
@use './player-areas/player-areas';
@use './player-manager/playerPanel';
@use './setup-area/setup-area';
@use './logs/logs';
@use './tokens';

html {
  background-image: url('img/background.jpg');
  background-attachment: fixed;
}

#joco #joco-overlay,
#joco-play-area {
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}

#joco,
#joco-overlay {
  display: block;
  grid-column: 1 / 2;
  height: 100%;
}


#joco-play-area {
  width: 100%;
  display: grid;
  grid-template: 82px auto / 100%;
  height: min-content;
  // margin-bottom: 100px;
  margin-left: 0;
  // display: flex;
  // flex-direction: column;
  // gap: 8px;

  // background-color: yellow;
  // padding: 4px;
  // display: grid;
  // grid-template-columns: auto auto;
  // grid-gap: 8px;
}

#joco-overlay {
  grid-row: 1 / 3;
  pointer-events: none;
  display: block;
  grid-column: 1 / 2;
  height: 100%;
}

#joco {
  grid-row: 2 / 3;
  display: grid;
  grid-template: auto / 100%;
}

#joco > div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: min-content;
}

.joco-tab-hidden {
  opacity: 0;
  pointer-events: none;
  transition: visibility .45s ease-out, opacity .45s linear;
  visibility: hidden;
}

.joco-tab-visible {
  opacity: 1;
  transition: visibility 0s ease-out, opacity .6s linear;
  visibility: visible;
}

.joco_family_member {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: calc(var(--tokenScale) * 46px);
  width: calc(var(--tokenScale) * 39px);
  outline: calc(var(--tokenScale) * 1px) solid black;
  transition-property: top, left;
  transition-duration: 700ms;
  transition-timing-function: ease;

  svg {
    height: calc(var(--tokenScale) * 42px);
    width: calc(var(--tokenScale) * 35px);
  }
}

.joco_family_member[data-family='Benyon'] {
  background-color: base.$player-pink;
  outline-color: base.$player-pink-dark;
  svg {
    fill: base.$player-pink-dark;
  }
}
.joco_family_member[data-family='Hastings'] {
  background-color: base.$player-blue;
  outline-color: base.$player-blue-dark;
  svg {
    fill: base.$player-blue-dark;
  }
}
.joco_family_member[data-family='Larkins'] {
  background-color: base.$player-yellow;
  outline-color: base.$player-yellow-dark;
  svg {
    fill: base.$player-yellow-dark;
  }
}
.joco_family_member[data-family='Paxton'] {
  background-color: base.$player-gray;
  outline-color: base.$player-gray-dark;
  svg {
    fill: base.$player-gray-dark;
  }
}
.joco_family_member[data-family='Sykes'] {
  background-color: base.$player-purple;
  outline-color: base.$player-purple-dark;
  svg {
    fill: base.$player-purple-dark;
  }
}
.joco_family_member[data-family='Walsh'] {
  background-color: base.$player-green;
  outline-color: base.$player-green-dark;
  svg {
    fill: base.$player-green-dark;
  }
}
// .joco_family_member[data-family='Crown'] {
//   background-color: base.$crown-red;
//   // background-color: #EE4B2B;
// }
// .joco_family_member[data-family='Crown'] svg {
//   fill: black;
// }
